*{
  margin:0px;
  padding:0px;
  font-family: sans-serif;
}
body{
  background:lightgreen;
}


.main{
  position: absolute;
  top:50%;
  left: 40%;
  transform: translate(-10%,-50%);

  
}
input{
  border: 3px black;
  height:40px;
  width :300px;
  border-radius: 50px;
  padding: 0px 10px;
}

